[Unit]
Description=Loomworks ERP
After=network.target

[Service]
Type=simple
User=loomworks
Group=loomworks
ExecStart=/usr/bin/loomworks --config /etc/loomworks/loomworks.conf --logfile /var/log/loomworks/loomworks-server.log
KillMode=mixed

[Install]
WantedBy=multi-user.target

